html {
    font-family: sans-serif;
	font-size:16px;
    margin: 20px 80px 60px 80px;
	background-color:rgb(68, 68, 68);
}

body {
    position: relative;
	background-color:#f5eedc;
    width:1000px;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

header {
	padding-top:30px;
    margin-bottom:10px;
}

hr {
    position: relative;
    width: 70%;
    right: 150px;
}

/*
NAVIGATION BAR CSS
*/

nav {
	font-size:28px;
    background-color:#de6257;
    padding-bottom: 1px;
	padding-top:5px;
	margin-top: -30px;
	margin-left:-25px;
	margin-right:-25px;
}

nav ul{
    width: 1000px;
    padding-left: 0px;
}

nav ul li {
    font-weight: bold;
    position: relative;
    left: 250px;
    display: inline;
    margin-left: 50px;
    padding-left: 85px;
    font-size: 25px;
}

nav a:link {
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

nav a:visited{
    color:white;
}

/*
HEAD CSS
*/

h1 {
    font-family: 'Smooch Sans';
    font-size: 45px;
    margin-top: -1px;
    margin-bottom: -4px;
}

h2 {
    font-size: 35px;
    font-family: 'Smooch Sans';
    color: #c99044;
    margin-bottom: -10px
}